<h1>Editing party</h1>

<%= render 'form' %>

<div data-role="footer" data-position="fixed">
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Show', @party %></li>
		<li><%= link_to 'Back', parties_path %></li>
	</ul>
</div><!-- /navbar -->
</div>