<ul data-role="listview">
  <% @parties.each do |party| %>
    <li>
      <%= link_to (raw('<span class="ui-li-count">')+party.size+raw('</span> ')+party.name+" "+party.wait+" ("+number_with_precision(party.wait - (Time.now - party.created_at)/60, :precision => 0)+")"), party %>
    </li>
  <% end %>
</ul>
<div class="actions">
    Text | Seat | Cancel | No Show
</div>
<div data-role="control-group" data-type="horizontal">
  <div class="ui-controlgroup-controls">
    <%= link_to "", new_party_path, :'data-role' => "button", :'data-icon' => "add", :'data-iconpos' => 'notext', :'data-inline' => 'true', :'data-corners' => 'true', :'data-theme' => 'b', :'data-shadow' => "true", :'data-iconshadow' => "true", :'data-wrapperels' => "span" %>
  </div>
    
</div>