<h1>New party</h1>

<%= render 'form' %>

<div data-role="footer" data-position="fixed">
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Cancel', parties_path %></li>
	</ul>
</div><!-- /navbar -->
</div>