<div class="container">
  <div style="height: 20px;"></div>
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Waitlist</h1>
    <p>The easy way to keep track of your restaurant waitlist and notify customers when their table is ready!</p>
    <p><%= link_to 'Get Started »', new_user_registration_path, :class => 'btn btn-primary btn-large', :'data-role' => "button", :'data-theme' => 'b', :'data-inline' => 'true' %></p>
  </div>

</div> <!-- /container -->