body {
	padding: 0px!important;
}
.party {	
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
	border-bottom: 1px solid #ddd;
	padding: 15px 10px;
	box-sizing: border-box;
}
.size {
	float: left;
	background: #3A87AD;
	color: #fff;
	padding: 5px 10px;
	border-radius: 50%;
}
.name { 
    float: left; 
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
}
.time { 
    float: right; 
    margin-top: 7px;
}
#add {
    position: fixed;
    bottom: 10px;
    right: 10px;   
}